@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

h2 {
  padding: 10 10 10 10;
  margin-left: 40px !important; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
}

.salesperson-wrapper {
  display: block;
  margin-left: 25px !important;
  padding: 5px;
}

.date-wrapper {
  display: block;
  margin-left: 127px !important;
  padding: 5px;
}

.contact-wrapper {
  display: block; 
  margin-left: 59px !important;
  padding: 5px;
}

.contactAddy-wrapper {
  display: block;
  margin-left: 44px !important;
  padding: 5px;
}

button {
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #77a9cd;
  color: black;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 105px !important;
  width: 50%;
}

.resizable-input {
  position: relative;
  display: inline-block;
  width: 50%; /* Default width */
  min-width: 100px; /* Minimum width */
  max-width: 100%; /* Maximum width */
  height: auto; /* Allow dynamic height */
  padding: 0;
  overflow: hidden;
  resize: both; /* Allow resizing */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resizable-input input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}

.formbold-form-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: both;
  position: relative; 
  left: 175px;
  bottom: 15px;
}

.resizable-input:focus-within {
  border-color: #77a9cd; /* Change border color when focused */
}

.message-label {
  display: block;
  position: relative; 
  left: 102px;
}